* {
  font-family: 'Muthiara -Demo version-';
    font-size: 30px;
  }
@font-face {
  font-family: Muthiara -Demo version-;
  src: url('assets/fuentes/letra2.otf');
}  
  html, body {
    
    background: white;
    margin: 20px;
    color: #000000;
    -webkit-font-smoothing: antialiased;
  }
  h6 {
    font-size: x-small;
  }
  h2 {
    font-size: xx-large;
  }
  h3 {
    font-size: x-large;
  }
  h4 {
    font-size: medium;
  }
  h5 {
    font-size: small;
  }
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: rgb(13, 226, 241);
    border-radius: 5px;
    border: 0px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }